<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    //输入房间id、起始日期和结束日期，查询这段时间内的request
    <form action="/print_sum" method="post">
        <label for="room_id">Room ID:</label>
        <input type="text" id="room_id" name="room_id">
        <label for="start_date">Start Date:</label>
        <input type="text" id="start_date" name="start_date">
        <label for="end_date">End Date:</label>
        <input type="text" id="end_date" name="end_date">
        <input type="submit" value="Submit">
    </form>

</body>
</html>